@import url(../css/bootstrap-select.css);
@import url(../css/icoonmoon.css);
@import url(../css/cms.css);

/*fonts*/


/*
font-family: 'Syne', sans-serif;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-repeat: repeat;
    background-position: center top;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #A40114;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
}

.ac-loader {
    overflow: hidden;
    vertical-align: middle;
    position: fixed;
    display: table;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    -webkit-transition: all .5s ease-in-out;
    -khtml-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.ac-loader .ac-loader__container {
    position: relative;
    vertical-align: middle;
    z-index: 9;
    width: 100%;
    height: 100vh;
    display: table-cell;
}

.spinnerr {
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.p-0 {
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: #A40114;
}

a:focus {
    text-decoration: none;
}

.tab-content>.active {
    display: block !important;
}

.tab-pane.fade {
    opacity: 0;
    transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
}

.tab-pane.fade.in {
    opacity: 1;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
}

.container {
    max-width: 1600px;
    width: 100%;
}

.primary_button {
    font-size: 14px;
    position: relative;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 50px 15px 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: transparent linear-gradient(236deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
    transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.primary_button i {
    position: absolute;
    right: 15px;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.primary_button::before {
    position: absolute;
    content: '';
    background: #000000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    height: 0;
    width: 0;
    z-index: -1;
    margin: auto;
    transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
}

.primary_button.disabled {
    background: #eeeeee !important;
    color: #ccc !important;
    border: 1px solid #ccc;
}

.primary_button.disabled i {
    background: #adadad !important;
}

.second-btn {
    border: 1px solid #A40114;
    color: #A40114;
    background: transparent;
}

.second-btn i {
    color: #A40114;
}

button.primary_button {
    border: 0;
}

@media(min-width:1200px) {
    .primary_button:hover:before {
        opacity: 1;
        height: 100%;
        width: 100%;
    }
    .primary_button:hover,
    .primary_button:focus {
        color: #ffffff;
    }
    .second-btn:hover::before {
        background: #A40114;
    }
    .second-btn:hover i {
        color: #ffffff;
    }
}

.social-link {
    margin-top: 30px;
    display: flex;
}

.social-link li+li {
    margin: 0 0 0 10px;
}

.social-link li a {
    font-size: 14px;
    height: 24px;
    width: 24px;
    border: 1px solid #fff;
    border-radius: 100%;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.social-link li a:hover {
    background: #ffffff;
    color: #A40114;
}


/* common select css*/

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.btn-default {
    border-color: #fff;
    border-radius: 0;
}

.btn-default:hover {
    outline: none !important;
    box-shadow: none !important;
}

.btn.focus,
.btn:focus,
.btn:hover {
    outline: none;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none;
}

.dropdown-menu {
    padding: 0 !important;
}

.dropdown-menu>li>a {
    padding: 5px 20px;
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #A40114;
    border: 2px solid #A40114;
}

.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #D6D6D6;
    background: transparent;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

button.btn {
    outline: none;
}

.thumbnail_container {
    padding-bottom: 100%;
    position: relative;
    background: #f7f7f7;
}

p {
    color: #A40114;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: .5px;
}

.thumbnail_container .thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    line-height: 0;
    border: none;
    border-radius: 0;
    padding: 0px;
    margin-bottom: 0;
    line-height: 0;
    background: 0 0;
    border: 0px;
    border-radius: 0px;
}

.thumbnail_container .thumbnail img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.owl-carousel .owl-nav {
    display: block;
    position: absolute;
    text-indent: inherit;
    left: 0;
    width: 100%;
    cursor: pointer;
    z-index: 999;
}

.owl-carousel .owl-nav button {
    outline: none;
    background: transparent !important;
}

.owl-carousel .owl-nav .owl-prev {
    display: block;
    position: absolute;
    text-indent: inherit;
    width: auto;
    cursor: pointer;
    transform: rotate(90deg);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.owl-carousel .owl-nav .owl-next {
    display: block;
    position: absolute;
    text-indent: inherit;
    width: auto;
    cursor: pointer;
    width: auto;
    transform: rotate(-90deg);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.owl-carousel .owl-nav i {
    font-size: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    background: transparent linear-gradient(206deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
    font-weight: normal;
    text-align: center;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.owl-carousel .owl-nav i:hover {
    background: #000000;
}

@media(max-width:1199px) {
    .owl-carousel .owl-nav {
        position: relative;
        opacity: 1;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 140px;
        margin: 10px auto 70px;
    }
}

.owl-carousel .owl-nav i {
    color: #ffffff;
    background: transparent linear-gradient(206deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
}

.buorg {
    display: none;
}

.buorg__text {
    background-color: #A40114;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.buorg__text a {
    color: #000;
}

.buorg__text a:hover {
    color: #fff;
}

body #back-top {
    position: fixed;
    bottom: 60px;
    right: 15px;
    cursor: pointer;
    z-index: 99999;
}

@media(max-width: 767px) {
    body #back-top {
        display: none !important;
    }
}

body #back-top i {
    background-color: #A40114;
    box-shadow: 3px 4px 21px 9px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

body #back-top:before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    z-index: -1;
    background-color: rgb(0 34 53 / 80%);
    -webkit-box-shadow: 0 0 25px rgba(189, 189, 189, .3);
    box-shadow: 0 0 25px rgba(189, 189, 189, .3);
    -webkit-animation: blinks 1.5s infinite;
    animation: blinks 1.5s infinite;
}

@-webkit-keyframes blinks {
    0% {
        -webkit-transform: scale(.1, .1);
        opacity: 0;
        -ms-transform: scale(.1, .1);
        transform: scale(.1, .1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blinks {
    0% {
        -webkit-transform: scale(.1, .1);
        opacity: 0;
        -ms-transform: scale(.1, .1);
        transform: scale(.1, .1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media(max-width:568px) {
    .col-xss-12 {
        width: 100%;
    }
}

ul.dots-list li {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
    padding-left: 20px;
}

ul.dots-list li:before {
    position: absolute;
    content: '';
    background: #000000;
    height: 8px;
    width: 8px;
    left: 0;
    top: 6px;
    border-radius: 100%;
}

button.btn:focus {
    outline: none;
}

.icon-building {
    font-size: 40px;
    color: #A40114;
}

.error,
.required {
    font-size: 14px;
    font-weight: 400;
    line-height: 110%;
    color: red;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

.common-title {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.common-title .section-title {
    font-size: 40px;
    line-height: 120%;
    display: inline-block;
    position: relative;
    font-weight: 600;
    color: #000000;
}

.common-title .section-title span {
    color: #A40114;
}

.common-title .small-title {
    position: relative;
    color: #A40114;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    z-index: 1;
}

.common-title.no-data {
    padding-bottom: 0;
}

.common-title.no-data .small-title {
    font-size: 28px;
}

@media(max-width: 1199px) {
    .common-title {
        padding-bottom: 30px;
    }
    .common-title .section-title {
        font-size: 30px;
    }
    .common-title .small-title {
        font-size: 14px;
        padding: 0 40px;
    }
    .common-title.no-data .small-title {
        font-size: 24px;
    }
}

@media(max-width: 767px) {
    .common-title .section-title {
        font-size: 26px;
    }
    .common-title.no-data .small-title {
        font-size: 22px;
    }
}


/*Header fixed css*/

.fixed .header-section .menu .sub-menu li {
    padding: 0;
}


/*Heder fixed css end*/

.main-header {
    position: relative;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
}

.header-section {
    position: relative;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section .show-mobile-num {
    margin: 0 50px 0 0;
    display: none;
}

.header-section .logo {
    max-width: 180px;
}

.header-section .logo a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-section .logo a .logo-head {
    max-width: 116px;
}

.header-section .logo a .flag-logo {
    max-width: 35px;
    margin-left: 5px;
    max-height: 30px;
}

.header-section .logo a .logo-text {
    font-size: 9px;
    color: #A40114;
    font-weight: 600;
    line-height: 100%;
    padding-top: 5px;
}

.header-section .menu ul li {
    display: inline-block;
}

.header-section .menu ul li+li {
    margin-left: 30px;
}

.header-section .menu ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    font-family: 'Syne', sans-serif;
    padding: 40px 6px;
}

.header-section .menu ul li.active>a {
    color: #A40114;
    position: relative;
}

.menu ul .sub-menu li+li {
    margin-left: 0;
}

.header-flightbtn {
    display: flex;
    align-items: center;
    margin: 0 0 0 40px;
}

.header-flightbtn .get-btn {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #efebeb;
}

.header-flightbtn .h_search {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
}

.header-flightbtn .get-btn i {
    transform: rotate(-145deg);
    margin-left: 20px;
}

.header-flightbtn .get-btn:hover {
    color: #A40114;
}

.nav-mobile .header-flightbtn .get-btn {
    background: #A40114;
}

@media (min-width: 1200px) {
    .header-section .menu {
        display: flex;
        align-items: center;
    }
    .fixed.main-header {
        position: fixed;
        -webkit-animation: smoothScroll .5s forwards;
        -khtml-animation: smoothScroll .5s forwards;
        -moz-animation: smoothScroll .5s forwards;
        -ms-animation: smoothScroll .5s forwards;
        -o-animation: smoothScroll .5s forwards;
        animation: smoothScroll .5s forwards;
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
        -khtml-box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
        -ms-box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
        -o-box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    }
    @keyframes smoothScroll {
        0% {
            -webkit-transform: translateY(-100px);
            -khtml-transform: translateY(-100px);
            -moz-transform: translateY(-100px);
            -ms-transform: translateY(-100px);
            -o-transform: translateY(-100px);
            transform: translateY(-100px);
        }
        100% {
            -webkit-transform: translateY(0);
            -khtml-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }
    }
    .header-section .menu ul li a:hover {
        color: #A40114;
    }
    .menu ul .sub-menu {
        display: initial;
        position: absolute;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        left: 0;
        top: 60px;
        text-align: left;
        list-style: none;
        transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        border-radius: 0;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .menu ul li:hover>.sub-menu {
        display: inherit;
        opacity: 1;
        visibility: visible;
    }
    .menu ul li:hover>.sub-menu>li {
        transform: translateY(0);
        -webkit-transition-delay: 70ms;
        -moz-transition-delay: 70ms;
        -ms-transition-delay: 70ms;
        -o-transition-delay: 70ms;
        transition-delay: 70ms;
    }
    .menu>ul .sub-menu .sub-menu {
        top: 0!important;
        left: 180px;
        padding: 0;
    }
    .menu ul .sub-menu li {
        padding: 0;
        margin: 0px;
        width: 180px;
        float: none;
        display: list-item;
        position: relative;
        transform: translateY(11px);
        transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
    }
    .menu ul .sub-menu li a {
        display: block;
        padding: 12px 10px;
        font-size: 13px;
        font-weight: 600;
        line-height: 150%;
        color: #000000;
        border-bottom: 1px solid rgb(223 223 223 / 10%);
    }
    .menu>ul .sub-menu .dropdown>a:after {
        position: absolute;
        content: "\e901";
        font-family: icomoon!important;
        right: 8px;
        top: 11px;
        font-size: 10px;
        transform: rotate(-90deg);
    }
    .menu ul .sub-menu li a.active {
        color: #fff;
        background-color: #b4d51b;
    }
    .menu ul .sub-menu li a:hover {
        color: #fff;
        background: transparent linear-gradient(236deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
    }
    .menu>ul>.dropdown>a:after {
        display: inline-block;
        margin-left: 5px;
        position: absolute;
        content: "\e901";
        top: 36px;
        right: -8px;
        font-family: icomoon!important;
        font-size: 12px;
        font-weight: 600;
    }
}

@media (max-width: 1640px) {
    .menu ul .sub-menu li+li {
        margin-left: 0;
    }
}

@media (max-width: 1200px) {
    .header-section .logo a .flag-logo {
        max-width: 30px;
    }
    .header-section {
        padding: 10px 20px;
    }
    .header-section .show-mobile-num {
        display: flex;
    }
    .nav-mobile .header-flightbtn {
        margin: 30px 0 0 15px;
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .header-section .show-mobile-num .get-btn {
        display: none;
    }
}

@media (max-width: 479px) {
    .header-flightbtn .phone-num {
        height: 40px;
        width: 40px;
    }
}


/*Banner csss*/

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.home-banner-02 {
    position: relative;
    z-index: 1;
    display: flex;
}

.home-banner-02 .banner_social_link {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-banner-02 .banner_social_link a {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.home-banner-02 .banner_social_link a i {
    margin-bottom: 5px;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.home-banner-02 .carousel {
    background-image: url(../images/banner_bg.png);
    padding: 50px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: calc(100% - 70px);
    margin-left: auto;
}

.home-banner-02 .h-b_caption {
    max-width: 700px;
    padding: 0 0 0 80px;
}

.home-banner-02 .h-b_item .title {
    color: #000000;
    font-size: 46px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 30px;
}

.home-banner-02 .h-b_item .title span {
    color: #AE011C;
}

.home-banner-02 .h-b_item .banner-desc {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 180%;
}

.home-banner-02 .banner-btn {
    margin-top: 40px;
    display: flex;
}

.home-banner-02 .banner-btn .primary_button+.primary_button {
    margin-left: 20px;
    color: #ffffff;
}

.home-banner-02 .banner-btn .primary_button+.primary_button i {
    color: #ffffff;
}

.home-banner-02 .banner_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-banner-02 .carousel .h-b_fill {
    height: 450px;
    max-width: 512px;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
}

.home-banner-02 .carousel-control {
    width: 40px;
    height: 40px;
    opacity: 1;
    font-size: 20px;
    color: #ffffff;
    top: 30px;
    border: 1px solid #fff;
    border-radius: 100%;
    background: transparent;
}

.home-banner-02 .carousel-control-main {
    display: block;
    width: 100%;
    position: relative;
    padding: 50px;
    max-width: 200px;
    width: 100%;
    margin-left: auto;
    background: transparent linear-gradient(217deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
}

.home-banner-02 .carousel-control.left {
    left: 30px;
    transform: rotate(90deg);
}

.home-banner-02 .carousel-control.right {
    right: 30px;
    transform: rotate(-90deg);
}

.home-banner-02 .carousel-indicators li {
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin-top: 0;
    border: 0;
    opacity: 1;
    display: none;
    position: relative;
}

.home-banner-02 .carousel-indicators li::after {
    position: absolute;
    content: '';
    border: 2px solid #ffffff;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    left: -5px;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
}

.home-banner-02 .carousel-indicators {
    margin: 20px 0;
    left: 0;
    right: 0;
    text-align: center;
    width: auto;
}

.home-banner-02 .carousel-indicators li.active {
    background: #A40114;
}

.home-banner-02 .carousel-indicators li.active::after {
    border: 2px solid #A40114;
}

.home-banner-02 .carousel-indicators li+li {
    margin-left: 20px;
}

.home-banner-02 .carousel-control i {
    line-height: 40px;
}

@media(max-width:1400px) {
    .home-banner-02 .h-b_item .title {
        font-size: 35px;
    }
    .home-banner-02 .h-b_caption {
        padding: 0 20px 0 20px;
    }
    .home-banner-02 .h-b_caption {
        max-width: 600px;
    }
}

@media(max-width:1199px) {
    .home-banner-02 .h-b_item .title {
        font-size: 30px;
    }
    .home-banner-02 .carousel {
        width: 100%;
    }
    .banner_social_link {
        display: none !important;
    }
}

@media(max-width:991px) {
    .home-banner-02 .banner_center {
        flex-direction: column;
    }
    .home-banner-02 .carousel .h-b_fill {
        width: 100%;
    }
    .home-banner-02 .h-b_caption {
        max-width: 100%;
        margin-top: 50px;
    }
}


/*Banner css end*/


/*nav mobile*/

.nav-mobile {
    background: #000;
}

#nav-mobile-btn i {
    display: block;
    position: relative;
    color: #A40114;
    font-size: 40px;
}

#nav-mobile-btn .icon-close {
    display: none;
}

.wrapper.open #nav-mobile-btn .icon-menu {
    display: none;
}

.wrapper.open #nav-mobile-btn .icon-close {
    display: block;
}

.nav-mobile.open {
    background-color: #000000;
}

.nav-mobile>ul li>a {
    font-family: 'Syne', sans-serif;
}

.nav-mobile>ul ul {
    border: none;
}

.nav-mobile h2 i {
    font-size: 21px;
    margin-right: 10px;
    display: none;
}

.nav-mobile a:hover,
.nav-mobile a.active {
    color: #A40114;
    background: none !important;
    text-decoration: none;
}

@media (max-width: 1199px) {
    .animated {
        animation-duration: 0s;
    }
    #nav-mobile-btn,
    .nav-mobile {
        display: block;
        background: transparent;
    }
    .menu {
        display: none;
    }
}


/* common css */

.thumbnail_container .box-link {
    position: absolute;
    bottom: auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    z-index: 2;
    -webkit-transition: all 0.2s ease-in-out;
    -khtml-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.thumbnail_container .box-link .link {
    color: #fff;
    font-size: 18px;
}

.thumbnail_container .box-link .link i {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    line-height: 44px;
    transition-duration: .2s;
    font-size: 18px;
    display: inline-block;
}

.form-group .label-title {
    color: #000000;
}

.form-control {
    border-radius: 6px;
    height: 40px;
    border-width: 1px;
    border-color: rgb(0 33 52 / 50%);
    background: transparent;
    box-shadow: none;
    color: #000000;
    font-weight: 500;
}

textarea.form-control {
    height: 90px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: inherit;
}

@media (min-width:1200px) {
    .thumbnail_container:hover .box-link {
        opacity: 1;
    }
    .thumbnail_container .box-link .link:hover i {
        background: #fff;
        color: #005475;
    }
}

@media (max-width:991px) {
    h2 {
        font-size: 24px;
    }
}

@media (max-width:767px) {
    h2 {
        font-size: 22px;
    }
}


/* common select css*/

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.btn-default {
    border-color: #fff;
    border-radius: 0;
}

.select-group {
    margin-bottom: 30px
}

.select-group .dropdown-toggle {
    background: transparent !important;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(0 33 52 / 50%);
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0;
    display: inherit;
}

.select-group .check-mark::before {
    content: "\e903";
    display: inline-block;
    font-family: 'icomoon' !important;
    position: absolute;
    left: -5px;
    top: 8px;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-toggle .caret::after {
    font-family: 'icomoon';
    position: absolute;
    content: "\e904";
    top: -2px;
    right: 0;
    font-weight: 700;
}

.select-group .bootstrap-select.btn-group .dropdown-menu li {
    padding: 0;
    margin-top: 0;
}

.select-group .dropdown-toggle .filter-option {
    text-overflow: ellipsis;
    padding-right: 20px;
}

.select-group .bootstrap-select.btn-group .dropdown-menu li+li {
    border-top: 1px solid #EFEFEF;
}

.select-group .bootstrap-select.btn-group .dropdown-menu li:hover {
    background: #f5f5f5;
}

.select-group .bootstrap-select.btn-group .dropdown-menu li:before {
    left: 10px;
    top: 12px;
}

.select-group .bootstrap-select.btn-group .dropdown-menu li a {
    padding: 10px;
}

.select-group .bootstrap-select.btn-group .dropdown-menu li a:hover {
    background: transparent;
}

.btn-default:hover {
    outline: none !important;
    box-shadow: none !important;
}

.btn.focus,
.btn:focus,
.btn:hover {
    outline: none;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none;
}

.dropdown-menu {
    padding: 0 !important;
}

.dropdown-menu>li>a {
    padding: 5px 20px;
}


/*Inner banner css*/

.inner-banner {
    position: relative;
    z-index: 3;
}

.inner-banner .i-b_fill {
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center center;
}

.inner-banner .i-b_fill:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .8;
}

.inner-banner .inner-title-main {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 15px;
    z-index: 1;
}

.inner-banner .inner-title-main h1 {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: left;
    display: inline-block;
    font-family: 'Syne', sans-serif;
}

.inner-banner .back-list {
    text-align: right;
    position: relative;
    bottom: -10px;
}

.inner-banner .back-list a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 600;
}

.inner-banner .back-list a i {
    margin-right: 5px;
    font-weight: 700;
}

@media(min-width:1200px) {
    .inner-banner .back-list a:hover {
        color: #000000;
    }
}

@media(max-width:1199px) {
    .inner-banner .inner-title-main h1 {
        font-size: 36px;
    }
}

@media(max-width:767px) {
    .inner-banner .i-b_fill {
        height: 150px;
    }
    .inner-banner .inner-title-main h1 {
        font-size: 28px
    }
}

@media(max-width:479px) {
    .inner-banner .inner-title-main h1 {
        font-size: 24px
    }
}


/*Inner banner End*/

.inner-page-conatiner {
    position: relative;
    padding: 50px 0;
    z-index: 1;
}

.inner-page-conatiner::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/service-bg.png);
    background-size: contain;
    background-repeat: repeat;
    z-index: -1;
    height: 100%;
    width: 100%;
}

@media(max-width:1199px) {
    .inner-page-conatiner {
        padding: 30px 0;
    }
}


/* About Section S */

.about-section {
    position: relative;
    padding: 100px 0;
    z-index: 1;
}

.about-section .about-box-main {
    display: flex;
    align-items: center;
}

.about-section .about-box-main .image {
    width: 40%;
    position: relative;
    z-index: 1;
}

.about-section .about-box-main .right-side {
    width: 60%;
    padding-right: 100px;
}

.about-section .about-box-main .right-side .common-title {
    align-items: flex-start;
    padding-bottom: 20px;
}

.about-section .about-box-main .right-side .desc {
    font-size: 14px;
    color: #686868;
    line-height: 200%;
}

.about-section .about-box-main .right-side .content-box {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 30px;
}

.about-section .about-box-main .right-side .box {
    display: flex;
}

.about-section .about-box-main .right-side .box+.box {
    margin-left: 15px;
}

.about-section .about-box-main .right-side .box .icon {
    width: 70px;
    height: 70px;
    background: #000000;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
}

.about-section .about-box-main .right-side .box .icon img {
    max-width: 40px;
}

.about-section .about-box-main .right-side .box h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.about-section .about-box-main .right-side .box p {
    font-size: 14px;
    color: #000000;
    margin: 0;
}

.about-section .about-box-main .right-side .box-btn {
    display: flex;
    margin-top: 50px;
}

.about-section .about-box-main .right-side .box-btn .call-btn {
    margin-left: 30px;
    display: flex;
    color: #010101;
}

.about-section .about-box-main .right-side .box-btn .call-btn i {
    height: 55px;
    width: 55px;
    background: transparent linear-gradient(206deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    border-radius: 100%;
    font-size: 24px;
    margin-right: 10px;
}

.about-section .common-title.mob-show {
    display: none;
}

@media(max-width:991px) {
    .about-section {
        padding: 40px 0 0;
    }
    .about-section .about-box-main .right-side .common-title {
        display: none;
    }
    .about-section .common-title.mob-show {
        display: flex;
        text-align: center;
    }
    .about-section .about-box-main {
        flex-direction: column;
    }
    .about-section .about-box-main .right-side {
        padding: 0;
        margin-top: 30px;
        width: 100%;
    }
    .about-section .about-box-main .image {
        width: 100%;
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .about-section .about-box-main .right-side .desc {
        margin-bottom: 20px;
    }
    .about-section .about-box-main .right-side .box h3 {
        font-size: 14px;
    }
}

@media (max-width: 479px) {
    .about-section .about-box-main .right-side .box-btn {
        flex-direction: column;
    }
    .about-section .about-box-main .right-side .box+.box {
        text-align: right;
    }
    .about-section .about-box-main .right-side .box-btn a+a {
        margin: 20px 0 0 0;
    }
}


/* About Section E */


/* Our project S */

.our-services-main {
    padding: 50px 0 0;
    background: #F4F7F9;
}

.our-services-main .common-title {
    align-items: flex-start;
}

.our-services-main .owl-carousel .owl-nav {
    top: 0;
    right: 0;
    left: auto;
    width: 200px;
}

.our-services-main .owl-carousel .owl-nav {
    top: -120px;
    right: 250px;
    left: auto;
    width: auto;
}

.our-services-main .owl-carousel .owl-nav i {
    border: 1px solid #A6A6A6;
    color: #000000;
    background: transparent;
}

.our-services-main .owl-carousel .owl-nav i {
    border: 1px solid #A6A6A6;
    color: #000000;
    background: transparent;
}

.our-services-main .owl-carousel .owl-nav i:hover {
    background: transparent linear-gradient(206deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}

.our-services-main .owl-carousel .owl-nav .owl-next {
    left: 100px;
}

.ourservices-slider .service-box {
    position: relative;
}

.ourservices-slider .service-box .image .thumbnail_container {
    padding-bottom: 130%;
}

.ourservices-slider .service-box .image .thumbnail_container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    filter: grayscale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -khtml-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.ourservices-slider .service-box .box-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -khtml-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.ourservices-slider .service-box .slide_count {
    position: absolute;
    left: 10px;
    top: 30px;
    font-size: 60px;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
}

.ourservices-slider .service-box .slide_desc {
    padding: 30px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.ourservices-slider .service-box .slide_desc .title {
    font-size: 26px;
    color: #fff;
    line-height: 120%;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ourservices-slider .service-box .slide_desc p {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    height: 70px;
    overflow: hidden;
}

.ourservices-slider .service-box .slide_desc .box_link {
    color: #fff;
}

.ourservices-slider .service-box .slide_desc .box_link i {
    color: #A40114;
    transform: rotate(-150deg);
    display: inline-block;
    margin-left: 10px;
}

.ourservices-slider .service-box .bottom_up {
    position: absolute;
    transform: translateY(100%);
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -khtml-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.ourservices-slider .service-box .bottom_up a {
    display: block;
    padding: 20px;
    color: #ffffff;
    background: transparent linear-gradient(249deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
}

.ourservices-slider .service-box .bottom_up a i {
    margin-left: 10px;
    transform: rotate(180deg);
    display: inline-block;
}

@media (min-width: 1200px) {
    .ourservices-slider .service-box:hover .box-content {
        transform: translateX(100%);
    }
    .ourservices-slider .service-box:hover .image .thumbnail_container img {
        filter: grayscale(0);
    }
    .ourservices-slider .service-box:hover .bottom_up {
        opacity: 1;
        transform: translateY(-100%);
        visibility: visible;
    }
}

@media (max-width: 1199px) {
    .our-services-main {
        padding: 40px 0;
    }
    .ourservices-slider {
        padding: 0 15px;
    }
    .ourservices-slider .service-box {
        min-width: 100%;
    }
    .our-services-main .box-btn {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .our-services-main .tab-list {
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .ourservices-slider .service-box .slide_desc .title {
        font-size: 14px;
    }
    .ourservices-slider .service-box .slide_desc {
        padding: 20px 15px;
    }
}


/* Our project E */


/* logo-main S */

.logo-main {
    padding: 50px 0;
}

.logo-main .logo-slider img {
    opacity: .3;
    -webkit-transition: all .5s ease-in-out;
    -khtml-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.logo-main .logo-slider a:hover img {
    opacity: 1;
}


/* logo-main E */


/* Exp section S */

.exp-sec-main {
    padding: 50px 0;
}

.exp-sec-main .common-title i {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    transform: rotate(-180deg);
    margin-bottom: 20px;
}

.exp-sec-main .image {
    text-align: center;
}


/* Exp section E */


/* our-project-main S */

.our-project-main {
    background: #F4F7F9;
    padding-bottom: 50px;
}

.our-project-main .common-title {
    align-items: flex-start;
}

.our-project-main .project_wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.our-project-main .project_wrap .left_side {
    padding: 80px 0 30px 40px;
    width: 50%;
}

.our-project-main .project_wrap .tab-list li a {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 100%;
    position: relative;
}

.our-project-main .project_wrap .tab-list li+li {
    margin-top: 60px;
}

.our-project-main .project_wrap .tab-list li a i {
    position: absolute;
    transform: rotate(-90deg);
    top: 15px;
    right: -30px;
    -webkit-transition: all 0.5s ease-in-out;
    -khtml-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    font-weight: 700;
    font-size: 20px;
}

.our-project-main .project_wrap .tab-list li.active a {
    color: #A40114;
}

.our-project-main .project_wrap .tab-list li.active a i {
    opacity: 1;
    right: -40px;
}

.our-project-main .project_wrap .tab-list li a:hover i {
    opacity: 1;
    right: -40px;
}

.our-project-main .project_wrap .tab-content {
    width: 50%;
}

.our-project-main .project_wrap .project-box {
    position: relative;
}

.our-project-main .project_wrap .box-content {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.our-project-main .project_wrap .box-content .left {
    background: #000000;
    display: flex;
    align-items: center;
    padding: 30px;
}

.our-project-main .project_wrap .box-content .left .title {
    font-size: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-left: 20px;
}

.our-project-main .project_wrap .box-content .left .title span {
    font-size: 16px;
    font-weight: 400;
}

.our-project-main .project_wrap .box-content .right a {
    background: transparent linear-gradient(206deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #00000000;
    display: flex;
    align-items: center;
    padding: 30px;
    color: #fff;
    min-width: 200px;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 26px;
}


/* our-project-main E */


/* Testimonial S */

.testimonial-main {
    background-image: url(../images/testimonial_bg1.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    position: relative;
}

.testimonial-main .test_wrap {
    display: flex;
    align-items: center;
}

.testimonial-slider {
    max-width: 400px;
    width: 100%;
    margin-left: -100px;
}

.testimonial-main .testi-box {
    position: relative;
    display: flex;
    padding: 30px;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 3px 16px #5E5E5E36;
    border-radius: 2px;
    margin: 0 auto;
}

.testimonial-main .testi-box .desc {
    line-height: 160%;
    color: #000000;
    font-size: 14px;
}

.testimonial-main .testi-box i {
    font-size: 40px;
    color: #D60020;
    display: block;
    margin-bottom: 20px;
}

.testimonial-main .testi-user {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.testimonial-main .testi-user a {
    display: flex;
    align-items: center;
}

.testimonial-main .testi-user img {
    height: 55px;
    width: 55px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 100%;
}

.testimonial-main .testi-user .right-side {
    margin-left: 15px;
}

.testimonial-main .testi-user .t_name {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}

.testimonial-main .testi-user .designation {
    color: #666666;
    font-size: 14px;
}

.testimonial-main .owl-carousel .owl-nav {
    top: 42%;
    left: -120px;
}

.testimonial-main .owl-carousel .owl-nav .owl-next {
    top: 80px;
}


/* Testimonial E */


/* Footer css S */

.footer-main .footer-top {
    position: relative;
    padding: 40px 0;
    z-index: 1;
}

.footer-links-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-box .menu-link {
    display: flex;
    align-items: center;
}

.footer-box .menu-link li+li {
    margin-left: 60px;
}

.footer-box .menu-link li.active a {
    color: #D30424;
}

.footer-box .call-btn {
    margin-left: 30px;
    display: flex;
    color: #010101;
}

.footer-box .call-btn i {
    height: 55px;
    width: 55px;
    background: transparent linear-gradient(206deg, #750415 0%, #D60020 42%, #570015 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    border-radius: 100%;
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom {
    background: #000000;
    padding: 20px 0;
}

.f-b-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-b-content p {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.f-b-content a {
    font-size: 14px;
    font-weight: 400;
    color: #D30424;
}


/* Footer css E */


/* SERVICES LIST S */

.service-list .service-box {
    margin-bottom: 30px;
    max-width: 100%;
}


/* SERVICES LIST E */


/* PROJECT LIST S */

.project-list .ourservices-slider .service-box {
    margin-bottom: 30px;
    max-width: 100%;
}


/* PROJECT LIST E */